
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}  

*{
    padding: 0%;
    margin: 0%;
}
header{
    background-position: 1%;
    display: flex;
    background-color: #E192E5;
    width: 100%;
    padding: 15px 0px;
    box-shadow: -2px 2px 5px #00000038;
    margin: 0px 0px 50px 0px;
    

    
}
#header-links-container{
    
    display: inline-flex;
    margin: auto;
}
#stitchfofinho{
    
    display: inline;
    width: 60px;
    height: 60px;
    margin: 0px 0px 0px 20px;
    filter: drop-shadow(0px 1px 0px #0000009c );
}
.header-links{
    
    margin: 0px 3px;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
    color: #fff;
    transition: all 0.3s ease;
    font: 400 2vh arial;
    text-shadow: 2px 2px 2px #00000062;
}
.header-links:hover{
    background-color: #C693E6;
    cursor: pointer;
    color: #fff;
    font: 300 20px arial;
    padding: 10px 15px;
    text-shadow: 2px 2px 2px #00000062;
    
}


body{
    display: flex;
    width: 100%;
    height: 100vw;
    background-color: #ded4f777;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex-grow: 1;
}
section{
    margin: auto;
}
#declaracao1{
    display: flex;
    width: fit-content;
    
}
.texto{
    background-image:  url(images/200w.gif) ;
    background-repeat: no-repeat;
    background-size: cover;
    
}
div p{
    margin: 5.5em 0px 0px 5em;
    width: 250px;
    font: 400 1.05em "Permanent Marker", cursive;
    line-height: 1.64em;
    color: #0c0313;
   
}
.imagemisabel1 p{
    margin: auto;
}
#imagemisabel1{
    margin: auto;
    border-radius: 5px;
    max-width: 500px;
    min-width: 250;
    max-height: 500px;
    min-width: 250px;
    border: 40px solid;

    border-image: url(https://static.vecteezy.com/system/resources/thumbnails/015/658/487/small/love-heart-empty-square-frame-illustration-png.png) 33 / 32px / 0px repeat;
    
}

footer{
    background-color: #000;
}
footer h2{
    font: 400 20px arial , cursive;
    color: #fff;
    text-align: center;
    margin: 15px 0px ;
}
@media screen and (max-width: 935px) {
    .texto{
        display: flex;
        background-image:  url(images/200w.gif)  ;
        background-repeat: no-repeat;
        background-size: cover;
        width: 350px;
        height: 500px;
        font: 400 1em "Permanent Marker", cursive;
        margin: auto;
        
        
        
    }
    #declaracao1{
        display: inline;
    }
    .header-links{
        padding: 1vh;
        margin: 0px;
        font: 400 1.5vh arial;
    }
    .header-links:hover{
        background-color: #C693E6;
        cursor: pointer;
        color: #fff;
        font: 300 12px arial;
        text-shadow: 2px 2px 2px #00000062;
    }
    
    #imagemisabel1{
        padding: 20px 0px;
        margin: auto;
        display: flex;
        width: 300px;
        height: 250px;
        border: 35px solid;
        border-image: url(https://static.vecteezy.com/system/resources/thumbnails/015/658/487/small/love-heart-empty-square-frame-illustration-png.png) 33 / 25px / 0px repeat;
    }
    section{
        display: flex;
    }
    footer{
        margin-top: 50px;
    }
}